h1, h2, h3, h4, h5, h6
{
	font-family: 'Roboto Slab', serif;
}
p {
	font-family: 'Lato', sans-serif;
}
@media (min-width: 768px) {
	.navbar {
    	border-radius: 0px;
	}
}
.fa {
    color: #FFF;
}


/* NAV BAR */
.navbar {
	font-family: 'Lato', sans-serif;
	min-height: 95px;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #000;
}
@media (min-width: 768px) {
	.navbar-nav>li>a {
    	padding-top: 37.5px;
    	padding-bottom: 15px;
    }
}

/* SECTION 01 */
.top-bar{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #000;
	padding: 8px 0px;
	color: #FFF;
	font-weight: 400;
}
#line-top-bar{
	height: 20px; 
}
.banner
{
	background:url(../images/bg02.jpg) no-repeat fixed;
	-o-background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size:cover; 
	background-size: cover;
	margin-top: -20px;
	padding:55px 0px 55px 0px;
	background-color: #3d454a;
	cursor: default;
	min-height:590px;
}
.banner-text
{
	width: 70%;
	margin: 0 auto;
	padding:60px 0px 80px 0px;
}
.banner-text h2
{
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.5;
}
.banner-text h2 span
{
	font-weight: 400;
}
.tagline
{
	font-weight: 700;
	text-transform: uppercase;
}
p.under-tagline
{
	background-color: rgba(45, 45, 45, 0.8);
	padding: 5px 20px;
	color: #FFF;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	text-align: justify;
	border-left: 3px solid #fafafa
}
button.mainbutton
{
	background: none repeat scroll 0% 0% transparent;
	border: 1px solid #FFF;
	padding: 10px 25px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Roboto Slab",serif;
	font-weight: 300;
	transition: all 0.3s ease 0s;
	border-radius: 3px;
	margin-top: 25px;
	cursor: pointer;
}
button.mainbutton:hover
{
	background: #fff;
	color: #888;
}

/* SECTION 02 - Company */
.company {
	background-color: #fff;
	padding: 6em 0px 8em 0px;
}
.section-head
{
	padding: 20px 0px 40px 20px;
}
.section-head h3
{
	color: #000;
	font-size: 30px;
	font-weight: 300;
}
.section-head h3 span
{
	font-weight: 400;
}
.section-head p
{
	color: #737373;
	font-size: 14px;
	width: 60%;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	margin-top: 10px;
}

/* SECTION 03 - Services */
.services {
	background-color: #ececec;
	padding: 5em 0px 8em 0px;
}
.services-list ul{
	list-style: none;
}
.services-list i{
	color: #000;
}

/* SECTION 04 - Portfolio */
.portfolio {
	background-color: #fff;
	padding: 5em 0px 8em 0px;
}
.portfolio-item {
    margin-bottom: 25px;
}

/* SECTION 05 - Contact */
.contacts {
	background-color: #ececec;
	padding: 5em 0px 8em 0px;
}
.text-contact{
	font-size: 1.2em;
	text-align: justify;
	margin-bottom: 30px;
}

/* FOOTER */
.footer {
    background-color: #181b20;
    padding: 3em 0px 6em 0px;
    color: #FFF;
}
.footer-nav > li {
	display: inline-block;
    margin-right: 25px;
}
#links h1{
	margin-bottom: 0px;
}
.subname{
	text-transform: uppercase;
	margin-bottom: 30px;
}
#links a{
	text-decoration: none;
	color: #AFAFAF;
	text-transform: uppercase;
	margin-bottom: 30px;
}
#links a:hover{
	color: #FFF;
}
.footer-nav {
	font-family: 'Lato', sans-serif;
	margin-bottom: 50px;
}

.assinatura {
	font-size: 12px;
}

.assinatura a{
	text-transform: capitalize !important;
}



/* SECTION - OBRA */

.obra {
	margin-top: -20px;
	background-color: #ececec;
	padding: 5em 0px 1em 0px;
}
.text-obra{
	padding: 5px;
	font-size: 1.2em !important;
	width: 90% !important;
	text-align: justify;
}
.list-obra {
	font-family: 'Lato', sans-serif;
	list-style: none;
	color: #000;
}
.obra hr{
	border-top: 1px dashed #dedede;
}
.fotos-obra{
	background-color: #ececec;
	padding: 0em 0px 6em 0px;
}